@page
@model RazorPageBlog.Web.Pages.Admin.Blogs.ListModel
@{
}


<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1 class="text-center">Blog Posts</h1>
    </div>
</div>


<div class="container">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <td>Id</td>
                <td>Heading</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogPost in Model.BlogPosts)
            {
                <tr>
                    <td>@blogPost.Id</td>
                    <td>@blogPost.Heading</td>
                    <td><a href="/admin/blogs/edit/@blogPost.Id" class="btn btn-primary">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
